:root{
  background-color: rgb(228, 228, 228);
  overflow-x: hidden;
  opacity: 0;
  height: 100%;
  width: 100%;
  margin: 0%;
  animation: fadeIn 2s forwards;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
          }
body{
  margin: 0%;
}          