.header-container{
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: #333333;
    height: 80px;
    display: flex;
    border-bottom: 6px solid rgb(190, 190, 6);
    min-width: 320px;
    z-index: 100;
    
    }
.header-container img{
    position: relative;
    cursor: pointer;
    left: 60px;
    /* height: 85px; */
    /* height: 160px; */
    border-bottom: 1px solid rgb(190, 190, 6);
    width: 150px;
    z-index: 100;
}
.header-container img:hover{
    box-shadow: 1px 3px rgb(124, 123, 65);
}

.header-container nav{
    display: flex;
    padding-right: 10px;
    color: white;
    width: 80%;
    justify-content: space-between;
    margin-left: 100px;
}
.header-container nav ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-decoration: none;
    
}
.header-container nav ul a{
    color: white;
    display: flex;
    transition: cubic-bezier();
    transition-duration: 0.3s;
    text-decoration: none;
    padding: 4px;
}
.header-links:hover{
    font-size: 17px;
    border: 2px solid white;
    transition: linear;
    transition-duration: 0.2s;
}
.header-link:hover{
    font-size: 19px;
    padding: 1px;
}
.header-container nav ul li {
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
}
.header-profile-btn{
    border: 1px solid white!important;
    padding: 10px!important;
    width: 25px !important;
    font-size: 20px!important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(53, 162, 209);
    border-radius: 50%!important;
}